@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {

    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 2000px;
    
}

#header {
    position: absolute;
    width: 100%;
    top: 200;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 2.5rem 0;
    /* background-color: transparent; */
    /* background-color: skyblue; */



}

#header .container {
    padding: 0 5rem;
    width: 1290px;
    margin: 0 auto;  
}

#header .header-inner {
    display: flex;
}

#header .left-area {
    flex: 3;
    height: 70px;
    display: flex;
    align-items: center;
}

#header .logo {
    text-align: center;
    margin: 0;
    display: block;
    float: left;
    position: relative;
    width: 150px;
    color: white;
    text-shadow: 0px 0px 10px #000;
}

#header .right-area {
    display: flex;
    align-items: center;
}

#header .right-area .btns-menu {
    background-color: transparent;
    width: 700;
}

#header .right-area .btns-menu .btn {
    line-height: 30px;
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    border: none; 
    width: 140px;
    color:rgb(133, 175, 236);
    padding: 0;
}

#header .right-area .btns-menu .btn:hover {
    color:rgb(54, 109, 190);
    font-size: 1.2rem;
}
.main-img {
    background-image: url(/ScrollInTo/images/main1.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}